@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:#cc2b5e;
    --second-color:#753a88;
}

html, body{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin: 0; 
    position: relative;
    padding: 0;
}

header h1{
    text-align: center;
    margin: 1.5rem;
    font-size: x-large;
    color: var(--second-color);
}

.input-label{
    display: block;
    font-size:medium;
    margin: 1.3rem 0px;
    font-weight: 600;
}

.input{
    font-size: 1rem;
    text-align: center;
    display: flex;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 0.5rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 80%;
    max-width: 520px;
}

#btn{
    padding:0.5rem;
    margin:auto;
    background: var(--second-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}

.output{
    padding:1rem;
    font-size: larger;
    font-weight: 600;
    margin: 2rem 0;
}